h1 {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-top: 120px;
  color: white;
  -webkit-text-stroke: black 1px;
}

.imagem {
  height: 400px;
  width: 400px;

  border-width: 10px;
  border-style: dotted;
  border-color: #d9b577;
  border-radius: 50%;

  text-align: center;
  background-image: url(1.jpg);
  background-size: cover;
  box-shadow: inset 15px 15px 15px 15px #edd5e3;

  padding: 10px;

  outline-width: 26px;
  outline-style: double;
  outline-color: #edc3c1;

  margin: auto;
  margin-top: 50px;
}
